In [2]:
#1)
import pandas as pd
list=[4,8,15,16,23,42]
s=pd.Series(list)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
#2)
import pandas as pd
l=[1,2,3,4,5,6,7,8,9,10]
s=pd.Series(l)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
#3)
import pandas as pd
dict={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(dict)
print((df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
#4)
#A dataframe in pandas can have multiple columns that can have different type of data in it whereas a series in pandas is similar to list having indexes and has only one column with similar type of data in it.
import pandas as pd 
dict={'Name':['a','b','c'],'No.':[1,2,3]}
df=pd.DataFrame(dict)
print('<---This is DataFrame---->')
print(df)
s=df['No.']
print('<---This is Series---->')
print(s)

<---This is DataFrame---->
  Name  No.
0    a    1
1    b    2
2    c    3
<---This is Series---->
0    1
1    2
2    3
Name: No., dtype: int64

In [21]:
#5)
#Some of the functions used in dataframe are head(), tail(), describe(), read_csv(), to_csv(), dtypes, columns, unique(),etc.
import pandas as pd
l=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(l,columns=['No.s'])
df.tail()

   No.s
5     6
6     7
7     8
8     9
9    10

In [ ]:
#6)
#Dataframe and Panel in pandas are mutable but the series is only value mutable not size mutable.

In [8]:
#7)
import pandas as pd
Name=['Alice','Bob','Claire']
s1=pd.Series(Name)
Age=[25,30,27]
s2=pd.Series(Age)
Gender=['Female','Male','Female']
s3=pd.Series(Gender)
df={'Name':s1,'Age':s2,'Gender':s3}
df1=pd.DataFrame(df)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female